*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.galeria{
	width: 450px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 10px;
}
.galeria a,{
	display: block;
}
.galeria img{
	display: block;
	width: 100%;
	filter: grayscale(80%);
	transition: filter 0.7s;
}
.galeria img:hover{
	filter: grayscale(0%);
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	display: none;
	justify-content: center;
	align-items: center;
}
.visible{
	display: flex;
}
.modal button{
	-webkit-appearance:none;
	appearance: none;
	border: none;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.5);
	font-family: courier;
	font-size: 4em;
	display: block;
	margin: 0px 20px;
	cursor: pointer;
}
.modal img{
	width: 500px;
	display: block;
}